.landing {
  background: url("../img/signed-out-home.jpg") fixed no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -35px;
  margin-bottom: -75px;
  font-size: 25px;
}
