.feed {
  background: url("../img/signed-out-home.jpg") fixed no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  margin-top: -25px;
  margin-bottom: -65px;
}
