.post {
  background: url("../img/signed-out-home.jpg") no-repeat fixed;
  background-size: cover;
  background-position: center center;
  margin-top: -45px;
  margin-bottom: -85px;
  font-size: 25px;
  padding: 25px;
}
