.post {
  background: url("../img/signed-out-home.jpg") fixed no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  margin-top: -25px;
  margin-bottom: -65px;
}
