.formo {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #1a1a00;
  border-radius: 25px;
  padding: 15px;
  margin: 100px auto;
}

.register {
  background: url("../img/bird1.jpg") fixed no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  margin-top: -25px;
  margin-bottom: -65px;
}
